/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class for the main screen background */
.app-bg {
    background-color: #f5f5f5; /* Light grey background similar to the image */
}
